@font-face {
    font-family: "Rafgins-Regular";
    src: url("Rafgins-Regular.otf") format("opentype");
}

body {
    font-family: "Rafgins-Regular";
    font-size: 8vh;
    background-image: url('images/sun.png')
}

.top {
    display: flex;
    margin-top: 1.5vh;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.nav {
    display: flex;
    position: fixed;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 75vw;
    height: 8vh;
    background-color: black;
    font-size: large;
}

.page {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    height: 90vh;
}

#intro {
    height: 45vh;
    font-size: 400%;
    margin-left: 1vw;
}

#summary {
    font-size: 10vh;
    margin-left: 1vw;
    position: fixed;
    bottom: 0px;
}

a, a:link, a:visited {
    color: white;
}

a:hover, a:focus, a:active {
    color: white;
    text-decoration: underline;
}


