@font-face {
    font-family:"Rafgins-Regular";
    src:url("Rafgins-Regular.otf") format("opentype");
}

body {
    font-family:"Rafgins-Regular";
}

h1 {
    font-size:25vw !important;
}

p {
    font-size:10vw !important;
}

img {
    float:right;
}


