@font-face {
    font-family: "Rafgins-Regular";
    src: url("Rafgins-Regular.otf") format("opentype");
}

body {
    font-family: "Rafgins-Regular";
    font-size: 8vh;
    background-image: url('images/sun.png')
}

.flex-container {
    display: inline-flex;
}

.top {
    margin-top: 1.5vh;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.nav {
    position: fixed;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    width: 75vw;
    height: 8vh;
    background-color: black;
    font-size: large;
}

.page {
    flex-flow: column;
    align-items: center;
    height: 80vh;
    width: 90vw;
    margin-left: 1vw;
}

#intro {
    width: 90vw;
    font-size: 20vh;
}

h1 {
    margin-top: 0px;
}

#summary {
    font-size: 10vh;
    position: fixed;
    bottom: 0px;
}

a, a:link, a:visited {
    color: white;
}

a:hover, a:focus, a:active {
    color: white;
    text-decoration: underline;
}


